{% load static %} 
<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
 
  <title>  

      {% block page_title %}  
      {% endblock %} 

  </title> 

  <meta name="description" content="Use this site to calculate your GPA , exam grade or grade needed to achieve target grade at the University Of Glasgow">
  <meta name="author" content="interysy">

  <meta property="og:title" content="Grade Calculator For University Of Glasgow">
  <meta property="og:type" content="website">
  <meta property="og:url" content="">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous"> 
  <link rel = "shortcut icon" type = "image/png" href = "{% static 'images/glasgow_logo.png'%}"> 
  <script type="text/javascript" 
    src="http://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">  
  </script>  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://kit.fontawesome.com/1b4e7ae98b.js" crossorigin="anonymous"></script>  
  <link rel = "stylesheet" type= "text/css" href= "{% static '/css/base.css' %}" />
     
  {% block page_css %}  

  {% endblock %}
  

</head>

<body>  
 
  <div id="feedback-sidebar" class="sidebar">
    <a href="javascript:void(0)" class="close-btn" onclick="manipulateSideBar()"><i class="fa fa-close"></i></a>
    <div class = "row sidebar-content text-center">
      <form action="/sendFeedback/" method="post">
          {% csrf_token %}
          {{ form }}
          <input type="submit" value="Submit" class = "btn btn-primary marginalised">
      </form> 
    </div>
  </div>  
   

  <div id="feedback-div">
    <button class="btn btn-primary open-btn" id = "shbtn" onclick="manipulateSideBar()">Send Feedback</button>
  </div>

  {% block page_body %} 
  {% endblock %}   
  

  <nav class="navbar sticky-bottom navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">@interysy 2022</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'gradeCalculatorApp:index' %}">Calculator <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item navbar-right">
          <a class="nav-link" href="https://github.com/interysy" >GitHub</a>
        </li>
      </ul>
    </div>
  </nav>
  {% block page_javascript %} 
  {% endblock %} 
 
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>
